<html lang="zh-CN">
<head>
    <title>全员-聊天室</title>
    <link rel="stylesheet" type="text/css" href="../css/chat.css">
    <script type="application/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="../node_modules/reconnecting-websocket/dist/reconnecting-websocket-iife.min.js"></script>
    <script type="application/javascript" src="../js/chat.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
<div class="container">
    <h3>全员-聊天室 (<span id="counter">0</span>) <sup id="name"></sup></h3>
    <div id="chat"></div>
    <input placeholder="说点什么呢，按回车发送" id="text" type="text" autofocus/>
</div>
</body>
</html>