<html lang="zh-CN">
<head>
    <title>对弈-五子棋</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/ant-design-vue/dist/antd.min.css">
    <link rel="stylesheet" type="text/css" href="../css/five.css">
    <script type="application/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="../node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript" src="../node_modules/reconnecting-websocket/dist/reconnecting-websocket-iife.min.js"></script>
    <script type="application/javascript" src="../node_modules/vue/dist/vue.min.js"></script>
    <script type="application/javascript" src="../node_modules/ant-design-vue/dist/antd-with-locales.min.js"></script>
    <script type="application/javascript" src="../js/five.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
<div class="container">
    <h3>对弈-五子棋 (<span id="room">0</span>号房) <sup id="name"></sup></h3>

</div>
</body>
</html>