<html lang="zh-CN">
<head>
    <title>三人-斗地主</title>
    <link rel="stylesheet" type="text/css" href="../css/landlord.css">
    <script type="application/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="../node_modules/reconnecting-websocket/dist/reconnecting-websocket-iife.min.js"></script>
    <script type="application/javascript" src="../js/landlord.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
<div class="container">
    <h3>三人-斗地主 (<span id="counter">0</span>) <sup id="name"></sup></h3>

</div>
</body>
</html>